@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #2e0059, #222020, #7c3d3d);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray {
  scrollbar-color: #888 transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}